body {
    overflow: hidden;
}

.header {
    font-size: 100px;
    font-family: monospace;
}

.sub-header {
    font-size: 20px;
}

.LiamStaffordPicture {
    position: absolute;
    top: 30%;
    left: 70%;
}

button {
    position: absolute;
    top: 65%;
    left: 32%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 35px;
    background: rgb(104, 199, 231);
    transition-duration: 300ms;
}

button:hover {
    height: 120;
    width: 320;
}
